<div class="main">

  <div class="card " style="width: 18rem;">
    <div class="card-body form">
      <h5 class="card-title ">Login</h5>
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="userName" required>
      </div>
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Room" aria-label="room" aria-describedby="addon-wrapping" [(ngModel)]="room">
      </div>
    
     
      <a (click)="submit()" class="card-link submit">Submit</a>
    </div>
 
  
</div>
</div>
